@media only screen and ( min-width: 1025px ) {

    /* INTRO */
    #intro > .container {
        display: flex;
        height: 70vh;
    }

    #intro > .container h1 {
        font-size: 2.5rem;
        padding-left: 10rem;
    }

    #intro > .container button {
        font-size: 1.62em;
        padding: 1.3rem 4.0rem 1.3rem 4.0rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

}