/* Header */
.container {
    padding: 1rem;
}

header > .container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
}

img.logotipo {
    width: 150px;
    height: auto;
}

/* INTRO */
#intro > .container {
    padding: 0;
    background-color: #FFF;
}

#intro > .container > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#intro > .container h1 {
    text-align: center;
    padding: 1rem;
    font-size: 1.8em;
}

#intro > .container a {
    margin-bottom: 2rem;
}

/* COMO FUNCIONA */
#como-funciona > .container {
    background-color: var( --secondary );
    color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#como-funciona > .container .graficos img {
    width: 50px;    
}

#como-funciona > .container .graficos .flecha {
    width: 18px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

#como-funciona > .container .graficos {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
}

.pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pasos > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.pasos > div > hr {
    width: 100px;
}

/* DEMO */
#demo > .container {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #FFF;
}

#menu-demo {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 0;
    width: 320px;
    height: 500px;
}

/* CONTACTO */
#contacto > .container {
    background-color: var( --primary );
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/* FOOTER */
footer > .container {
    background-color: var( --secondary );
    padding: 2rem;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

footer > .container p {
    margin-top: 2rem;
    font-size: 1.62rem;
    color: white;
}

footer > .container > .social-icons {
    display: flex;
    justify-content: space-between;
}

footer > .container > .social-icons i {
    font-size: 3rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: white;
}

#logo-bottom {
    margin-top: 3rem;
    align-self:  center;
}